
.nav-bar{
    display: flex;
    align-items: center;
    height: 116px;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    margin: 0;
}
.video{
    margin: 0;
    padding: 0;
    margin-left: -33%;
    overflow: hidden;
}
.nav{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
}
.butn{
    display: flex;
    align-items: center;
}
.log-link button{
    margin-left: 15px;
}
.options{
    display: flex;
    font-weight: 600;
    padding-right: 2rem;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.options:hover .option-image{
    transform: rotate(-180deg);
    transition: .5s
}
.product:hover .options-image{
    transform: rotate(-90deg);
    transition: .5s;
    color: rgb(90, 70, 247);
}
.use-case:hover .options-image{
    transform: rotate(-90deg);
    transition: .5s;
    color: rgb(90, 70, 247);
}
.docs:hover .options-image{
    transform: rotate(-90deg);
    transition: .5s;
    color: rgb(90, 70, 247);
}
.aboutus:hover .options-image{
    transform: translate(5px);
    transition: .5s;
    color: rgb(90, 70, 247);
}
.list-arrow{
    display: flex;
    align-items: center;
    transition: .5s;
}
.list-arrow:hover {
    color: rgb(90, 70, 247);
}
.list-arrow:hover .about-img{
    transform: translate(7px);
    transition: .5s;
}
.products{
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.icon{
    fill: rgb(90, 70, 247);
}

a:hover{
    color: rgb(90, 70, 247);
}

/* img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
} */
.arrow{
  padding-left: 6px;  
}
.first-grid{
    display: flex;
    width: auto;
}
.second-grid{
    width: 550px;
}
.homepage-line{
    border: 2px solid #D1D3D4;
    width: 10%;
    margin-bottom: 5px;
}
.homepage-text{
    margin-top: 12%;
    font-size: 48px;
    font-family: 'Vaud', Helvetica, Arial, sans-serif;
    color: #111111;
}
.new{
    background: rgb(171, 255, 182);
    padding: 3.2px 9.6px;
    font-size: 12px;
    margin: 0px 8px 0px 0px
}
p{
    margin: 0;
}
h2{
    margin: 0;
}
.homepage-text-connect{
    font-size: 48px;
    font-family: 'Vaud', Helvetica, Arial, sans-serif;
    color: #111111;
    font-weight: 400px;
}
.span-text{
    margin-bottom: 20px;
}
.homepage-form{
    display: grid;
    grid-template-columns:  1.4fr 1fr;
    /* grid-column-gap: 25px; */
    margin-top: 16%;
}
.homepage-bottom-text{
    margin-top: 20px;
}
.bottom-content-one{
    color: #4B4B4B;
    font-family: 'Vaud', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.contact{
    border-bottom: 1px solid #111111;
}
.contact:hover{
    transition: all 0.1s ease-out;
    color: rgb(90, 70, 247);
    border-bottom: none;
    cursor: pointer;
}
.wrapper{
   background-color: #111111;
    height: 40.5rem;
     display: grid; 
     grid-template-columns: 0.85fr 1fr;
}

.vi{
     margin-left: -45%;
     width: 92%;
     position: absolute;
     z-index: 10;
}
.img{
    display: inline-block;
    vertical-align: middle;
    height: auto;
}
.icon{
    width: 90%;
}
.icon-bottom-text{
    color: white;
    font-size: 16px;
}
.icon-align{
    margin-left: -5%;
    width: 90%;
}
.icon-align-coinbase{
    margin-left: -25%;
    width: 90%;
}
.icon-align-fannie{
    margin-left: -10%;
    width: 90%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: none;
    margin-right: 10%;
    margin-bottom: 5%;
}
.right-content-text{
    margin-top: -11%;
}
.right-image{
    width: 100%;
    margin-right: 120%;
    margin-left: 25%;
    margin-top: -45%;
}
div{
    overflow: hidden;
}
.brush-left{
    transform: rotate(-25deg);
    position: relative;
    margin-top: -11%;
    margin-left: -40%;
    width: 85%;
    
}
.brush-bottom{
    transform: rotate(360deg);
    margin-left:  30%;
    margin-top: -3%;
}
.section-three{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    margin-top: 35px;
}

.form{
    background-color: black;
    width: 600px;
    height: 280px;
    margin-top: -28.5%;
    margin-left: 15%;
    position: absolute;
    border-radius: 13px;
}
.howitworks{
    width: 105%;
    margin-right: 15%;
    /* transform: rotate(12deg); */
}
.form-inner-content{
    padding: 3%;
    margin-top: 10px;
    justify-content: space-between;
    line-height: 22px;
}
.section-three-content-two{
    float: right;
}
.section-three-content-one{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 21%;
    margin-left: 35%;
}
.code-text{
    color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-bottom: 2px;
}
.btm{
    margin-bottom: 25px;
}
.mobile-video{
    margin-left: 10%;
}
.video-mobile{
    margin-left: 25%;
    margin-top: -80%;
}
.second-video-mobile{
    margin-left: 23.6%;
    margin-top: 3%;
}
.mobile-image{
    position: absolute;
}
.section-four{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 56px;
}
.grid-pictures{
    display: flex;
    margin-bottom: 10%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin-left: 15%;
}
.privacy-content{
    background-color: #F6F6F6;
}
.privacy-one{
    margin-left: 18%;
}
.privacy-two{
    margin-left: -17%;
}
.privacy-overall{
    display: flex;
    padding-top: 8%;
    padding-bottom: 8%;
}
.grid-footer{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.25fr;
    grid-column-gap: 4%;
    /* align-items: center; */
    margin: 0 auto;
    color: white;
}
.footer{
    background-color: #111111;
  
}
.footer-line{
    border-bottom: 1px solid white;
    width: 200px;
    margin-bottom: 15px;
}
.footer-flex{
    display: flex;
    margin-top: 8%;
}
.footer-content{
    margin-left: 15%;
    cursor: pointer;
    padding-bottom: 90px;
}
.footer-icons{
    display: flex;
}
.button-flex{
    margin-left: 25%;
    margin-top: 2%;
}
.text2{
    color: #878787;
    font-family: 'Heimat', Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: uppercase;
}
.developer-header{
    /* text-align: center; */
    margin-bottom: 10%;
    /* margin-left: 25px; */
}
.developer-content{
    /* margin-left: 20%; */
    font-size: 15px;
    color: #878787;
}
.user-experience{
    font-size: 16px;
    color: #878787;
    margin-top: 6%;
}
.user-exp{
    margin-top: 16%;
    margin-left: 13%;
}
.next-section{
    margin-left: 14%;
    margin-top: 240px;
    font-family: 'Vaud', Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 50px;
}
.footer-header{
    font-size: 48px;
    color: white;
    margin-bottom: 14%;
    font-weight: 600;
}
.footer-p{
    margin-bottom: 5%;
    font-size: 15px;
}
.footer-p:hover{
    color: rgb(90, 70, 247);
}
.footer-p-two{
    margin-bottom: 25%;
    font-size: 15px;
}
.footer-p-two:hover{
    color: rgb(90, 70, 247);
}
.footer-p-three{
    margin-bottom: 20%;
    font-size: 15px;
}
.footer-p-three:hover{
    color: rgb(90, 70, 247);
}
.privacy-header{
    font-size: 35px;
    font-weight: 800;
    font-family: 'Vaud', Helvetica, Arial, sans-serif;
}
.privacy{
    margin-top: 6%;
    color: #4B4B4B;
    line-height: 20px;
    margin-bottom: 17px;
}
.products-dropdown{
    position: absolute;
    top: 116px;
    left: 0;
    width: 100%;
    height: 400px;
    border-top: 1px solid #ccc;
    background: #fff;
    max-height: 100%;
    /* overflow: hidden; */
    opacity: 0;
    transition: opacity .2s ease-in;
    box-shadow: 0px 9px 10px rgba(0,0,0, 0.2)
}
.products:hover .products-dropdown{
    max-height: 100%;
    opacity: 1;
}
.product{
    font-family: Vaud, Helvetica, Arial, sans-serif;
    font-weight: 800;
}
.product-subtitle{
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 5px;
    font-weight: 300;
    margin-bottom: 30px;
    font-family: Vaud, Helvetica, Arial, sans-serif;
}
.product-link{
    font-family: Vaud, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.product-hover-subcontent{
    font-size: 15.4px;
    padding-top: 17px;
    font-weight: 600;
}

.usecase-dropdown{
    position: absolute;
    top: 116px;
    left: 0;
    width: 100%;
    height: 300px;
    border-top: 1px solid #ccc;
    background: #fff;
    max-height: 100%;
    /* overflow: hidden; */
    opacity: 0;
    transition: opacity .2s ease-in;
    box-shadow: 0px 9px 10px rgba(0,0,0, 0.2)
}
.use-cases:hover .usecase-dropdown{
    max-height: 100%;
    opacity: 1;
}
.docs-dropdown{
    position: absolute;
    top: 116px;
    left: 0;
    width: 100%;
    height: 250px;
    border-top: 1px solid #ccc;
    background: #fff;
    max-height: 100%;
    /* overflow: hidden; */
    opacity: 0;
    transition: opacity .2s ease-in;
    box-shadow: 0px 9px 10px rgba(0,0,0, 0.2)
}

.docs:hover .docs-dropdown{
    max-height: 100%;
    opacity: 1;
}

.pricing:hover {
    color: rgb(90, 70, 247);
}
.aboutus-dropdown{
    position: absolute;
    top: 116px;
    left: 0;
    width: 100%;
    height: 290px;
    border-top: 1px solid #ccc;
    background: #fff;
    max-height: 100%;
    /* overflow: hidden; */
    opacity: 0;
    transition: opacity .2s ease-in;
    box-shadow: 0px 9px 10px rgba(0,0,0, 0.2)
}
.aboutus:hover .aboutus-dropdown{
    max-height: 100%;
    opacity: 1;
}
.product-overall{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 4%;
}
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin-left: 25px;
}
.product-flex{
    display: flex;
    justify-content: center;
    align-items: center
}
.product-flex img{
    width: 48px;
    height: 48px;
    margin-right: 10px
}

.product-flex h5 {
    margin: 0
}

.usecase-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;

}
.usecontent{
    display: flex; 
    margin-bottom: 6.5%; 
}
.case-content{
    /* margin-left:120px; */
}
.usecase-flex{
    display: grid;
    grid-template-columns: 1.4fr 3fr;
    grid-column-gap: 20px;
    width: 70%; 
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 4%;
}
.case-hover-subcontent{
    line-height: 5px;
    margin-left: 10px;
    font-family: Vaud, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.docs-grid{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
}
.docs-flex{
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;
    width: 90%; 
    margin: 0 auto;
    margin-top: 4%;
}
.doc-title{
    font-family: 'Vaud', Helvetica, Arial, sans-serif;
    font-weight: 800;
    margin-bottom: 15px;
}
.doc-subtitle{
    font-family: 'Vaud', Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.aboutus-overall{
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;
    width: 80%; 
    margin: 0 auto;
    margin-top: 4%;
}
.aboutus-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.aboutus-data2{
    background-color: lightgrey;
}
.doc-list-head{
    color: #878787;
    font-family: 'Heimat', Helvetica, Arial, sans-serif;
}
.doc-content{
    margin-bottom: 15px;
}
.create{
    text-align: center;
    align-items: center;
    font-family: 'Vaud', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 38px;
}
.grid-inner-cont{
    font-family: 'Vaud', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin-top: -1px;
}
.inner-cont{
    font-family: 'Vaud', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}
.next-section-inner-text{
    margin-left: 25px;
}
.signed{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.plaidinc{
    color: white;
    text-align: center;
}


