.form-input{
    width: 268px;
    height: 30px;
    border-radius: 5px;
    padding: 8px 8px 6.4px 16px;
    outline: none;
}
.login{
    width: 400px;
    height: 39px;
    margin-bottom: 1rem;
    border: 1px solid #878787;
}